body {
  font-family: "Roboto", sans-serif;
  color: $primary-text-color;
  background-color: $secondary-icon-color;
  font-size: 14px;
  letter-spacing: 0.03em;

  &.no-scroll {
    overflow: hidden;
  }

  @media screen and (max-width: 767px) {
    &.menu-opened {
      overflow: hidden;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
