// Colors
$primary-text-color: #212121;
$accent-text-color: #2196F3;
$description-text-color: #757575;
$main-icon-color: #AFB1B8;
$secondary-icon-color: #ffffff;

// Animation
$timing-transition: cubic-bezier(0.4, 0, 0.2, 1);